<main>
  <div class="header-container">
    <h1>Tapioca Dashboard Angular</h1>
  </div>
  <app-client-table></app-client-table>
 
  <!-- Button trigger modal -->
  <div class="modal-btn">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newClientModal" (click)="openFormModal()">
      Add New Client
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade modal-lg" id="newClientModal" tabindex="-1" aria-labelledby="newClientModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newClientModalLabel">Add New Client</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-modal-add-new-client></app-modal-add-new-client>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="closeAndConfirmFormModal()">Add</button>
        </div>
      </div>
    </div>
  </div>
</main>